
@{
    ViewBag.Title = "Contact";
}
<!DOCTYPE html>


<div class="container-fluid">
    <div class="card">
        <div class="card-header">
            <h1>Corporate Headquarters</h1>
        </div>
        <div class="card-body">
            <p>Toll Free: 8252616587</p>
            <p>Email: info@akamar.in</p>
        </div>
    </div>
</div>


@{
    ViewBag.ListTitle = "Contact Details";
    ViewBag.Items = new List<string>() { "Corporate Office", "Support Team", "Marketing Team" };
    Html.RenderPartial("ListPartialView");
}
