

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>OurCompanyProduct</title>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-3.6.0.js"></script>
    <script src="~/Scripts/umd/popper.js"></script>
    <script src="~/Scripts/bootstrap.js"></script>
</head>
<body>
    <nav class="navbar navbar-expand-sm bg-success navbar-dark">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link font-weight-bold" href="/home/index">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link font-weight-bold" href="/home/product">Products</a>
            </li>
            <li class="nav-item">
                <a class="nav-link font-weight-bold" href="/home/contact">Contact</a>
            </li>
        </ul>
    </nav>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6">
                <h2>Categories</h2>
                <div class="list-group list-group-flush">
                    <a href="javascripts:void(0);" class="list-group-item list-group-item-action">Electronics</a>
                    <a href="javascripts:void(0);" class="list-group-item list-group-item-action">Home Appliances</a>
                    <a href="javascripts:void(0);" class="list-group-item list-group-item-action">Fashion</a>
                </div>
            </div>
            <div class="col-md-6">
                <h2>Brands</h2>
                <div class="list-group list-group-flush">
                    <a href="javascripts:void(0);" class="list-group-item list-group-item-action">Apple</a>
                    <a href="javascripts:void(0);" class="list-group-item list-group-item-action">Samsung</a>
                    <a href="javascripts:void(0);" class="list-group-item list-group-item-action">Sony</a>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
