

@{
    ViewBag.Title = "Our Company Product";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6">
                <h2>Categories</h2>
                <div class="list-group list-group-flush">
                    <a href="javascripts:void(0);" class="list-group-item list-group-item-action">Electronics</a>
                    <a href="javascripts:void(0);" class="list-group-item list-group-item-action">Home Appliances</a>
                    <a href="javascripts:void(0);" class="list-group-item list-group-item-action">Fashion</a>
                </div>
            </div>
            <div class="col-md-6">
                <h2>Brands</h2>
                <div class="list-group list-group-flush">
                    <a href="javascripts:void(0);" class="list-group-item list-group-item-action">Apple</a>
                    <a href="javascripts:void(0);" class="list-group-item list-group-item-action">Samsung</a>
                    <a href="javascripts:void(0);" class="list-group-item list-group-item-action">Sony</a>
                </div>
            </div>
        </div>
    </div>
