
@{
    ViewBag.Title = "User profile";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Userprofile</h2>
@section SideBarOptions{
    <a href="#" class="list-group-item text-white" style="background-color:transparent">Admin Home</a>
    <a href="#" class="list-group-item text-white" style="background-color:transparent">Agent Home</a>
    <a href="#" class="list-group-item text-white" style="background-color:transparent">Customer Home</a>
}
